:root {
  background-color: black;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.image {
    object-fit: contain;
    width: 70% !important;
    position: absolute !important;
    margin: auto;  
      
}
